<div class="side-logo">
  <img src="assets/img/5tharch.png"  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
</div>
<nav class="navigation">
    <ul>
      <li>Menu</li>
      <li><a ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard"></mat-icon> Loan Application</a>
      <ul>
        <li><a routerLink="/loan-application">Gold Loan</a></li>
        <li><a routerLink="/home-loan">Home Loan</a></li>
        <li><a routerLink="/vehicle-loan">Vehicle Loan</a></li>
      </ul>
      </li>
      <li><a ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon> Online Requested<br>Application list</a></li>
      <li><a routerLink="/loan-search"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon> Loan Application List</a></li>
      <!-- Include other navigation links -->
    </ul>
  </nav>

  